.header
{
    margin-bottom: 40px;
    margin-top:5px;
    text-align: center;
}

html,body
{
    height:100%;
}
.full
{
    height:100%;
}
i{
    font-size : 80px !important;
}
table
{
    margin:auto !important;
}
.buttonalign
{
    margin:auto;
}